.env
.env.*

venv/
env/
.venv/

app/utils/firebase-service-account.json

*.log

__pycache__/


# React 빌드 결과물 (만약 프론트엔드 저장소 같이 관리한다면)
build/
node_modules/

# npm 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 기타
*.swp
